<div class="container-fluid">
    <div class="pt-4">
        <p class="mb-0">Useted esta aquí: <a href="#home" class="linker">Home</a></p>
        <div class="linea mt-3"></div>
        <h1 class="text-uppercase" id="titulo"><b>Bienvenido a SPA</b></h1>
        <p><small>(Single Page Aplication)</small></p>


        <p>Este sitio fue construido utilizando solamente HTML y JS, a demás de tener estilos en CSS y la libreria Bootstrap.</p>
        <div class="linea"></div>


        <div class="row mt-5">
            <div class="col-4">
                <ul class="nav">
                    <li class="nav-link">
                        <a href="#variables">Variables</a>
                    </li>
                    <li class="nav-link"></li>
                    <li class="nav-link"></li>
                    <li class="nav-link"></li>
                </ul>    
            </div>
            <div class="col-8">
            </div>
        </div>


    </div>
</div>