<div class="container">

    <div id="mesaDeTrabajo">

        <h1>Variables</h1>
        <div class="linea"></div>
        <h3 class="mt-4">Ejericio 1</h3>
        <p>Diferencia entre variables VAR VS LET VS CONST</p>
        <pre class="language-js">
            <code>
                <span class="token keyword">var</span> edad <span class="token operator">=</span> <span class="token number">10</span>
                <span class="token keyword">var</span> edad <span class="token operator">=</span> <span class="token number">20</span>
                console<span class="token punctuation">.</span><span class="token function">log</span><span class="token punctuation">(</span>edad<span class="token punctuation">)</span>

                <span class="token keyword">let</span> edad <span class="token operator">=</span> <span class="token number">10</span>
                <span class="token keyword">let</span> edad <span class="token operator">=</span> <span class="token number">20</span>
                console<span class="token punctuation">.</span><span class="token function">log</span><span class="token punctuation">(</span>edad<span class="token punctuation">)</span>

                <span class="token keyword">let</span> edad <span class="token operator">=</span> <span class="token number">10</span>
                edad <span class="token operator">=</span> <span class="token number">20</span>
                console<span class="token punctuation">.</span><span class="token function">log</span><span class="token punctuation">(</span>edad<span class="token punctuation">)</span>
                
                <span class="token keyword">const</span> edad <span class="token operator">=</span> <span class="token number">10</span>
                <span class="token keyword">const</span> edad <span class="token operator">=</span> <span class="token number">20</span>
                console<span class="token punctuation">.</span><span class="token function">log</span><span class="token punctuation">(</span>edad<span class="token punctuation">)</span>
            </code>
        </pre>

        <div class="linea"></div>
        <h3 class="mt-4">Variables tipos</h3>
        <p>Tenemos muchos tipos de variables entre ellas podemos distinguir 5</p>
        <ul class="nav my-4">
            <li class="nav-item pr-4 text-primary"><h3>De texto</h3></li>
            <li class="nav-item px-4 text-danger"><h3>Numéricas</h3></li>
            <li class="nav-item px-4 text-warning"><h3>Bleanas</h3></li>
            <li class="nav-item px-4 text-success"><h3>Objetos o tuplas</h3></li>
            <li class="nav-item px-4 text-info"><h3>Funciones</h3></li>
        </ul>

        <pre class="language-js">
            <code>
                <span class="token keyword">var</span> textoA <span class="token operator">=</span> <span class="token number">"Hola soy Pepe"</span> <span class="token comment">// una variable de texto con comillas dobles</span>
                <span class="token keyword">var</span> textoB <span class="token operator">=</span> <span class="token number">'Hola soy Pepe'</span> <span class="token comment">// una variable de texto con comilla simple</span>
                <span class="token keyword">var</span> textoC <span class="token operator">=</span> <span class="token number">'Hola soy "Pepe"'</span> <span class="token comment">// una variable de comillas simple con comillas dobles</span>
            </code>
        </pre>

    </div>

</div>